/* Style zum Projekt: Die Top 10 Audi-Modelle */

/* Font */
.haupt-schrift-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}

/* Icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 900,
  'opsz' 24
}

.icon {
  color: #000000A6;
  width: 30px;
  transform: scale(1.2);
  margin-right: 15px;
  padding-left: 3px;
}

/* Chronisch sotiert */
body {
  color: #000000A6;
}

#navbarBrandImg {
  margin-right: 56px;
}
.nav-link {
  margin-left: 20px;
}
.navbar-toggler{
  border: none;
}
.navbar-toggler-style {
  color: #000000A6;
  transform: scale(1.5);
}
#anmeldenButton {
  box-shadow: 0 0 10px #000000A6;
  height: 60px;
}
#anmeldenButton:hover {
  background-color: white;
  color: black;
}
#registrierenButton {
  box-shadow: 0 0 10px #000000A6;
  height: 60px;
}
#registrierenButton:hover {
  background-color: #212529;
  color: white;
}
#sucheInput {
  box-shadow: 0 0 10px #000000A6;
  height: 60px;
}
#sucheInput:hover {
  background-color: white;
  color: #000000A6
}

/* Mediaqueries */

@media only screen and (min-width: 1200px) {
  #navbarBrandImg {
    margin-right: 10px;
  }
  .active {
  border-bottom: 1px solid #000000A6;
  }
}